<ion-header>
  <ion-toolbar>
    <ion-title>Muestra de imagenes en 360°</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <div class="img">
  <ion-button expand="full" color="transparent" class="button" (click)= "prueba()">Interior de la biblioteca</ion-button>
  <br>
  <ion-button expand="full" color="transparent" class="button" (click)= "medios()"> Aula de medios</ion-button>
  <br>
  <ion-button expand="full"  color="transparent" class="button" (click)= "entrada()"> Ingresando a la biblioteca</ion-button>
  <br>
  <ion-button expand="full" color="transparent" class="button" (click)= "galeria()"> Galeria</ion-button>
</div>
  
</ion-content>
