<ion-header>
    <ion-toolbar>
        <ion-title>Entrada y Papeleria</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    
</ion-header>

<ion-content>
  <iframe width="90%" height="500px" allowFullScreen="true" style="display:block; margin:20px auto; border:0 none; max-width:880px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 20px, rgba(0, 0, 0, 0.23) 0px 3px 20px;" src="https://panoraven.com/embed/vg7MEibKGt"></iframe>
</ion-content>
