<ion-header>
    <ion-toolbar>
        <ion-title>Entrada y Papeleria</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="cards-bg">
    <ion-content class="cards-bg">
  
        <ion-card>
      
            <ion-img src="/assets/galeria1.jpg"></ion-img>
      
          <ion-card-content>
            <ion-card-title>
              
            </ion-card-title>
            <p>
              
            </p>
          </ion-card-content>
        </ion-card>
      
        <ion-card>
      
          <div>
              <ion-img src="/assets/galeria1.jpg"></ion-img>
          </div>
      
          <ion-card-content>
            <ion-card-title>
            
            </ion-card-title>
            
          </ion-card-content>
      
          
        </ion-card>
      
        <ion-card>
      
          <div>
              <ion-img src="/assets/imagen1.jpg"></ion-img>
          </div>
      
          <ion-card-content>
            <ion-card-title>
            
            </ion-card-title>
            <p>
              
            </p>
          </ion-card-content>
      
          
        </ion-card>
      
        <ion-card>
      
          <div>
              
          </div>
      
          <ion-card-content>
            <ion-card-title>
              
    
            </ion-card-title>
            <p>
               
            </p>
          </ion-card-content>
      
         
        </ion-card>
</ion-content>
