<ion-header>
    <ion-toolbar>
      <ion-title>
        
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-header>
    <ion-nav>
      <ion-title>Conociendo al Personal</ion-title>
    </ion-nav>
  </ion-header>
  
  <ion-content class="cards-bg">

  
      <ion-card>
    
        <iframe width="320" height="240" src="https://www.youtube.com/embed/fXhmEtvm2d4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
        <ion-card-content>
          <ion-card-title>
         Concepción Macías 
         Horario de 8:00 am - 15:30 pm
          </ion-card-title>
          <p>
            
          </p>
        </ion-card-content>
      </ion-card>
    
    <ion-card>
  
      <iframe width="320" height="240" src="https://www.youtube.com/embed/pNRWpk2Ym8Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
      <ion-card-content>
        <ion-card-title>
          Modulo turno matutino 
          Horario 7:00 am - 12:30pm 
        </ion-card-title>
        <p>
          
        </p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
  
      <div>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/rjP41tmrN6M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  
      <ion-card-content>
        <ion-card-title>
        Victor David Moreno Vazquez  
        </ion-card-title>
        <p>
        Horario 12:00 pm - 20:00 hrs
        </p>
      </ion-card-content>
  
      
    </ion-card>
  
    <ion-card>
  
      <div>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/61ODyyigClM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  
      <ion-card-content>
        <ion-card-title>
          Área de Procesos Tecnicos 
        </ion-card-title>
        <p>
          Horario de 7:00 am - 14:30 pm 
        </p>
      </ion-card-content>
  
      
    </ion-card>
  
    <ion-card>
  
      <div>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/is4O93LG4X0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  
      <ion-card-content>
        <ion-card-title>
          Rodríguez Álvarez María del Rosario 

        </ion-card-title>
        <p>
          Turno de 8 a 3:30 
        </p>
      </ion-card-content>
  
     
    </ion-card>

    <ion-card>
  
      <div>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/l2D2AgewVt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-card-content>
        <ion-card-title>
          Nancy Perez Cordova

        </ion-card-title>
        <p>
          Turno de 8:00 a 3:30 
        </p>
      </ion-card-content>
      <ion-card>
    
        <iframe width="320" height="240" src="https://www.youtube.com/embed/LpwrSHXt5ZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ion-card-content>
          <ion-card-title>
         
          </ion-card-title>
          <p>
            
          </p>
        </ion-card-content>
      </ion-card>
    
  
     
    
  
  
  
  
  