<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/biblioteca1.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title>Bienvenido a tu primera vez en biblioteca</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Estimado Usuario de Biblioteca este Manual es una guía que te permitirá acercarte a los diversos servicios que te ofrecemos en la Biblioteca, cuya finalidad es brindarte las instrucciones necesarias para cuando solicites este servicio.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        
      <div class="ion-text-start">
        <h3>SERVICIOS QUE SE OFRECEN</h3>

        <ion-list class="ion-text-start">
          <ion-item>
            <ion-label>
                Consulta
            </ion-label>
          </ion-item>
          <p class="ion-text-start">
            Consiste en una colección especifica de consulta  
            materiales como: enciclopedias, diccionarios, manuales, etc. 
            esta colección esta separada y ubicada en Hemeroteca. Se te orientará para resolver dudas en diversos temas y se te apoyará en la búsqueda y localización de información en colecciones especificas de consulta 
          </p>
          <ion-item>
              <ion-label>
              Catalogo en línea 
              </ion-label>
            </ion-item>
            <p class="ion-text-start">
              Medio de localización de información, para uso exclusivo de los usuarios se encuentra alojado en la página Web espacio de Biblioteca en el siguiente link http://www.uteq.edu.mx/Alumno/Default.aspx?gI2Sr=87, para tu comodidad también contamos en la Biblioteca con un equipo de cómputo instalado para este fin
            </p>
            <ion-item>
              <ion-label>Estantería abierta</ion-label>
            </ion-item>
            <p>Tienes la posibilidad de localizar de manera independiente los materiales de tu interés.
              </p>
              <ion-item>
                <ion-label>Servicio de Hemeroteca</ion-label>
              </ion-item>
              <p>
              Lugar que resguarda el material hemerográfico, revistas, folletos, periódicos ó cualquier otra publicación periódica. En esta área el Bibliotecario llevara un registro de usuarios atendidos.
              </p>
              <ion-item>
                <ion-label>Consulta de Libros y Revistas para Usuarios Externos en la Biblioteca de la Universidad Tecnológica de Querétaro.
                  </ion-label>
              </ion-item>

        </ion-list> 
        
    </div>



<ion-button (click) = "openBlank()" color = "transparent">Conocer más</ion-button>

