.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.button{
  background-color: #58B825;
  border: none;
  outline: none;
  
}

.justificado{
  text-align: justify;
  align-content: justify;
  width:90%; 
  margin:0 auto ; 
 // font-size: 16px !important
}