<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/biblioteca1.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title>Bienvenido a tu primera vez en biblioteca</ion-card-title>
      </ion-card-header>
      <ion-card-content class="justificado">
        <p>Estimado Usuario de Biblioteca este Manual es una guía que te permitirá acercarte a los diversos servicios que te ofrecemos en la Biblioteca, cuya finalidad es brindarte las instrucciones necesarias para cuando solicites este servicio.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-img src="/assets/Imagen12.jpg"></ion-img>
        <ion-card-title>
          ACCESO AL SERVICIO DE BIBLIOTECA
          </ion-card-title>
      </ion-card-header>
      <ion-card-content class="justificado">
        <p>Estimado Usuario de Biblioteca este Manual es una guía que te permitirá acercarte a los diversos servicios que te ofrecemos en la Biblioteca, cuya finalidad es brindarte las instrucciones necesarias para cuando solicites este servicio.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-button class="button" color = "transparent"  expand="full" (click) = "servicios()">Servicios que ofrecen</ion-button>
    <br>
    <ion-button class="button" color = "transparent" expand="full">Prestamos</ion-button>
    <br>
    <ion-button class="button" color = "transparent" expand="full">Obligaciones y Derechos</ion-button>
    <br>
    <ion-button class="button"  expand="full" color = "transparent">Buzón de Sugerencias y Biblioteca Virtual</ion-button>
    <br>
    <ion-button (click) = "openBlank()" color = "transparent" expand="full">Conocer más</ion-button>

