
<style type="text/css">
  .video{
    width: 90%;
    margin: 20px 5px;
    
  }
</style>



<ion-header>
    <ion-toolbar>
      <ion-title>
        CONOCIENDO GENTE
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      
      <div class="video" >
            <video width="320" height="240" controls>
                    <source src="/assets/prueba3.mp4" type="video/mp4">
                      <source src="prueba3.ogg" type="video/ogg">
                      Your browser does not support the video tag.
                  </video>
            
      </div>

      <div class="video">
            <video width="320" height="240" controls>
                    <source src="/assets/video1.mp4" type="video/mp4">
                      <source src="video1.ogg" type="video/ogg">
                      Your browser does not support the video tag.
                  </video>
            
      </div>

      <div class="video">
            <video width="320" height="240" controls>
                    <source src="/assets/video2.mp4" type="video/mp4">
                      <source src="video2.ogg" type="video/ogg">
                      Your browser does not support the video tag.
                  </video>
            
      </div>

      <div class="video">
            <video width="320" height="240" controls>
                    <source src="/assets/video3.mp4" type="video/mp4">
                      <source src="video3.ogg" type="video/ogg">
                      Your browser does not support the video tag.
                  </video>
            
      </div>
      <ion-card style="margin-top: 50px;">
          <video width="320" height="240" controls>
              <source src="/assets/video3.mp4" type="video/mp4">
                <source src="video3.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
          <ion-card-content>
            <ion-card-title>
             Esperanza Lugo
              </ion-card-title><div><ion-card style="margin-top: 50px;">
    <video width="320" height="240" controls>
        <source src="/assets/prueba3.mp4" type="video/mp4">
          <source src="prueba3.ogg" type="video/ogg">
          Your browser does not support the video tag.
      </video>
    <ion-card-content>
      <ion-card-title>
       Esperanza Lugo
        </ion-card-title>
      <p>
        fgnghhkkjhk
      </p>
    </ion-card-content>
  </ion-card>
</div>
            <p>
              
            </p>
          </ion-card-content>
        </ion-card>
  </ion-content>