<ion-header>
  <ion-toolbar>
      <ion-title>Servicios que ofrecen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content>
<div class="justificado">
  <h3>l. Consulta</h3>
  <ion-img src="/assets/consulta1.jpg"></ion-img>
  <p>
    Consiste en una colección especifica de consulta  materiales como: enciclopedias, diccionarios, manuales, etc. esta colección esta separada y ubicada en Hemeroteca. Se te orientará para resolver dudas en diversos temas y se te apoyará en la búsqueda y localización de información en colecciones especificas de consulta 
  </p>
  
</div>
<br>
<div class="justificado">
  <h3>ll. Catalogo en línea </h3>
  <ion-img src="/assets/catalogo01.jpg"></ion-img>
  <p>
    medio de localización de información, 
    para uso exclusivo de los usuarios se encuentra alojado en la página Web espacio de Biblioteca 
    en el siguiente link <a class="link" href="http://www.uteq.edu.mx/Alumno/Default.aspx?gI2Sr=87">www.uteq.edu.mx/Alumno/Default.aspx?gI2Sr=87</a>, para tu comodidad también contamos en la Biblioteca con un equipo de cómputo instalado para este fin
 </p>
</div>

<div class="justificado">  
  <h3>lll. Estantería abierta </h3>
  <ion-img  src="/assets/estanteria1.jpg"></ion-img>
  <p>
    Tienes la posibilidad de localizar de manera independiente los materiales de tu interés.
  </p>
</div>

<div class="justificado">
  <h3>lV. Servicio de Hemeroteca</h3>
  <ion-img src="/assets/galeria2.jpg" ></ion-img>
  <p>
    Lugar que resguarda el material hemerográfico, revistas, folletos, periódicos ó cualquier otra publicación periódica. En esta área el Bibliotecario llevara un registro de usuarios atendidos.
  </p>
</div>

<div class="justificado">
  <h3>V. Consulta de Libros y Revistas para Usuarios Externos en la Biblioteca de la Universidad Tecnológica de Querétaro.
  </h3>
  <br>   
   <ion-img margin="5px" src="/assets/externos1.png"></ion-img>
   <br>
      <p>
      Se entiende por usuario Externo aquellas personas ajenas a la comunidad universitaria que tienen una necesidad de información. Servicio dirigido a egresados, visitantes y público general que requiere utilizar los servicios de la biblioteca.
    </p>
</div>

<div class="justificado">
  <h3>V.l Brindar el acceso para consulta de libros y revistas existentes en la Biblioteca de la Universidad Tecnológica de Querétaro</h3>
  <ion-img margin="5px" src="/assets/acceso1.jpg"></ion-img>
  <p>
    Si encontraste los materiales a consultar en catálogo en línea, es necesario ingreses a Registro usuarios Externos, llenar el formato de Solicitud de Servicio Externo en  <a class="link" href="http://www.uteq.edu.mx/Alumno/Default.aspx?gI2Sr=87">http://www.uteq.edu.mx/Alumno/Default.aspx?gI2Sr=87</a>  
    y hacer el envío correspondiente, este permitirá agilizar los tiempos de atención para que el Bibliotecario tenga a  la mano los materiales que requieres en la fecha de tu visita.
  </p>
</div>
<div class="justificado">
  <h3>VI. Servicio de Fotocopiado.</h3>
  <ion-img margin="5px" src="/assets/fotocopiadora.png"></ion-img>
  <p>El servicio de fotocopiado es contratado por la Secretaría de Administración y Finanzas de la Universidad y por lo tanto, cada usuario cubrirá el costo de las fotocopias que solicite en dicho módulo</p>
</div>

<div class="justificado">
  <h3>VII. Círculos de Lectura</h3>
  <ion-img src="/assets/galeria2.jpg" ></ion-img>
  <p>
    Permite el fomento a la Lectura entre un grupo de personas que se reúnen para compartir, interactuar, intercambio de ideas, experiencias y opiniones en torno a la lectura de un texto escrito, con la finalidad de promover el placer y gusto por la lectura. Sesiones Miércoles 15:00 y Viernes 14:00.
  </p>
</div>
    <div class="justificado">
        <h3>VIII. Servicio de Referencia</h3>
        <ion-img src="/assets/referenciaq.jpg" ></ion-img>
        <p>Son aquellos solicitados y proporcionados a través de Internet, por lo general a través de email, mensajería instantánea (Chat), o de formularios de envío basados en la Web.
        </p>
    </div>


</ion-content>


