<ion-header>
  <ion-toolbar>
      <ion-title>Servicios que ofrecen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content>
<div class="justificado">
  <h3>l. Consulta</h3>
  <p>
    Consiste en una colección especifica de consulta  materiales como: enciclopedias, diccionarios, manuales, etc. esta colección esta separada y ubicada en Hemeroteca. Se te orientará para resolver dudas en diversos temas y se te apoyará en la búsqueda y localización de información en colecciones especificas de consulta 
  </p>
  
</div>


</ion-content>

